*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0b0b0f;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
border-bottom:1px solid #222;
}

.logo{
font-size:22px;
font-weight:bold;
color:#ff4c8b;
}

.search-box{
display:flex;
gap:10px;
}

.search-box input{
padding:10px;
border:none;
border-radius:6px;
background:#1a1a1a;
color:white;
width:250px;
}

.search-box button{
padding:10px 15px;
border:none;
background:#ff4c8b;
color:white;
border-radius:6px;
cursor:pointer;
}

/* Sections */

.section{
padding:30px 40px;
}

.section h2{
margin-bottom:20px;
}

/* Anime Grid */

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
gap:20px;
}

/* Anime Card */

.card{
background:#14141c;
border-radius:10px;
overflow:hidden;
transition:0.25s;
cursor:pointer;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:230px;
object-fit:cover;
}

.card p{
padding:10px;
font-size:14px;
}

/* Anime Details */

#anime{
display:flex;
gap:30px;
padding:40px;
}

#anime img{
width:250px;
border-radius:10px;
}

#anime p{
margin-top:15px;
line-height:1.6;
max-width:700px;
}

/* Episodes */

#episodes{
padding:30px 40px;
display:grid;
grid-template-columns:repeat(auto-fill,100px);
gap:10px;
}

#episodes a{
background:#1b1b25;
padding:10px;
text-align:center;
border-radius:6px;
text-decoration:none;
color:white;
}

#episodes a:hover{
background:#ff4c8b;
}

/* Player */

video{
display:block;
margin:40px auto;
max-width:900px;
width:100%;
border-radius:10px;
}
